@import './scss/_variables.scss';

.app {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: $interFontFamily;
}

h1.app-logo {
    display: block;
    width: 100%;
    position: sticky;
    top: 0;
    background: linear-gradient(#282c34, #282c3479);
    font-family: $interFontFamily;
    font-weight: 300;
    font-size: 3rem;
    padding: 0.6rem;
    box-sizing: border-box;
}

a {
    color: #61dafb;
}

.btn {
    position: fixed;
    right: 5vw;
    bottom: 5vh;
    padding: 0.8rem;
    font-family: $interFontFamily;
    font-weight: 500;
    font-size: 1rem;
}
